
 #parent_div_1, #parent_div_2, #parent_div_3{
    width:auto;
    height:100px;
    margin-right:10px;
    float:left;
    position:relative;
}
.snippet{
    font-style: italic;
    
}
.child_div_1{
    float:left;
    margin-right:200px;
    position: relative;
   
}

.child_div_2{
     float:right;
     width:200px;
     position: relative;
      background-color:#DCDCDC; 
} 